<div class="conteiner">
<div class="nav">
<!--<a href=""><i class="fa fa-chevron-left" aria-hidden="true"></i></a>---->
	<nav class="filters">
	<ul>
	<!--	<li><input type="radio">My shelf></li>
		<li><input type="radio">All questions></li> -->
	</ul>
	</nav>
	<nav class="sort">
	<ul>
	<!--<li>Recent</li>
		<li>Hot</li>-->
	</ul>
	</nav>
	<nav class="serach">
	<ul>
		<li class="search-questions"></li>
		<search class="search-questions" (update)="term = $event"></search>
		<li class="search-btn"><input class="search-btn-submit" type="submit" value="Search"></li>
	</ul>
	</nav>
</div>
<question [term]="term"></question>
<div class="aswear">
</div>
</div>
<div class="new">
	
</div>