<div class="main-question" *ngFor="let question of questions | find : term" >
	<div class="profile-name" >
	<h1><a [routerLink]="['profile']">
	{{question.name }}
	</a></h1>
	</div>
	<div class="wrapper">
		<a [routerLink]="['profile']"><div class="main-image">

		</div></a>
		<div class="header">
			<a [routerLink]="['singlequestion']"><h2>{{question.title }}</h2></a>
		</div>
		<article class="activities">
			<div class="activities-wrapper">
			<ul>
			<!--	<li>
				<div class="asked">
					
				</div>
				</li>
				.-->
				<li>
				<div class="more-activities">
					<div class="more-activities-wrapper">
					<div class="activities-number"><h3>3</h3></div>
					<h4>more activities</h4>
					</div>
				</div>
				</li>
				<li>
				<div class="commented first-commented">
					<div class="commented-wrapper">
						<div class="image-wrapper"><div class="user-image"></div></div>
						<div class="commented-header">COMMENTED</div>
						<div class="bottom-circle"></div>
					</div>
				</div>
				</li>
				<li>
				<div class="commented second-commented">
					<div class="commented-wrapper">
						<div class="image-wrapper"><div class="user-image"></div></div>
						<div class="commented-header">COMMENTED</div>
						<div class="bottom-circle"></div>
					</div>
				</div>
				</li>
				<li>
				<div class="commented third-commented">
					<div class="commented-wrapper">
						<div class="image-wrapper"><div class="user-image"></div></div>
						<div class="commented-header">COMMENTED</div>
						<div class="bottom-circle"></div>
					</div>
				</div>
				</li>
				<li>
				<div class="commented fourth-commented">
					<div class="commented-wrapper">
						<div class="image-wrapper"><div class="user-image"></div></div>
						<div class="commented-header">COMMENTED</div>
						<div class="bottom-circle"></div>
					</div>
				</div>
				</li>
			</ul>
			</div>
		</article>
		
		<div class="more-info">
			<div class="more-info-discussion">
				<h5>{{question.relatedDis}}</h5>
				<h5>related discussion</h5>
			</div>
			<div class="more-info-involved">
				<h5>{{question.peers}}</h5>
				<h5>peers involved</h5>
			</div>
			<div class="more-info-conversation">
				<h5>{{question.conversation}}</h5>
				<h5>conversation</h5>
			</div>
		</div>
	
	</div>
</div>