<div class="conteiner">
<div class="nav">
	<nav>
		<a [routerLink]="['']"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
	</nav>
</div>
<div class="main-question">
	<div class="profile-name">
	<h1><a [routerLink]="['/profile']">
	Eva
	</a></h1>
	</div>
	<div class="wrapper">
		<a [routerLink]="['/profile']"><div class="main-image">
		</div></a>
		<div class="header">
			<h2>WILL INSULINE KILL EVERYBODY ON EARTH</h2>
		</div>
		<article class="main-question-content">
			<p>Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do wypełnienia tekstem próbnej książki. Pięć wieków później zaczął być używany przemyśle elektronicznym, pozostając praktycznie</p>
		</article>
		<div class="votes">
			<div class="votes-wrapper">
			<i class="fa fa-sort-asc" aria-hidden="true"></i>
			<p>15</p>
			<i class="fa fa-sort-desc" aria-hidden="true"></i>
			</div>
		</div>
		<div class="btn-wrapper">
			<input type="submit" value="Aswear">
		</div>
	</div>
</div>
<div class="aswear">
</div>
</div>
<div class="new">
	
</div>